@import '../shared/variables.scss';

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    .pulidora{
        width: 100px;
    }
    .logo{
        color: $secondary-color;
        width: 200px;
    }
    .links{
        width: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        a{
            color: $primary-color;
            text-decoration: none;
            font-weight: 400;
            font-size: 20px;
        }
    }
}
.neon-text {
    color: $third-color;
    text-shadow:
        0 0 2px $third-color,
        0 0 7px $third-color,
        0 0 10px $third-color,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }
.neon-text:hover{
    color: $secondary-color;
    text-shadow:
        0 0 2px $secondary-color,
        0 0 7px $secondary-color,
        0 0 10px $secondary-color,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }
  @media only screen and (max-width: 768px) {
    .links{
        display: none !important;
    }
  }