@import '../shared/variables.scss';

#nosotros{
    background-color: black;
    h2{
        color: white;
        font-family: "Roboto Condensed", sans-serif;
        text-align: center;
        font-size: 50px;
        padding-top: 5%;
    }
    img{
        width: 30%;
        padding: 5%;
    }
}