@import '../shared/variables.scss';

#nosotros{
    background-color: black;
    h2{
        color: white;
        font-family: "Roboto Condensed", sans-serif;
        text-align: center;
        font-size: 50px;
        padding-top: 5%;
    }
    .content{
        display: flex;
        img{
            width: 30%;
            padding: 0 5%;
        }
        p{
            color: white;
            margin: 0;
            font-size: 20px;
        }
    }

}
@media only screen and (max-width: 768px) {
    #nosotros{
        .content{
            flex-direction: column;
            align-items: center;
            img{
                width: 50%;
                padding: 0 5%;
            }
            p{
                padding: 5%;
            }
        }
    }
  }